html {
  height: 100%;
  display: flex;
  padding: 45px 10px;
  align-items: center;
  justify-content: center;
}

body {
  background: #eee !important;
  min-width: 700px;
  width: 1020px;
}

thead {
  background-color: rgb(70, 70, 70);
  color: #eee;
}

form {
  display: flex;
  flex-direction: column;
}

select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"><path d="M1 2.5l.75 .75 .75-.75" fill="grey"/></svg>')
    no-repeat right -5px center;
  padding-right: 1.5em;
}

select {
  cursor: pointer;
}

input {
  cursor: text;
}

p {
  font-size: 1.15rem;
  margin: 0;
  color: red;
}

a {
  text-decoration: none;
  margin-right: 15px;
}

a > i:hover {
  color: #0d6efd !important;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

button > i {
  font-size: 16px;
}

img {
  width: 125px;
  padding-right: 10px;
}

sub {
  font-size: 13px;
  bottom: 10px;
}

.hidden {
  display: none;
}

.soft-messages {
  margin-top: 5px;
  color: #0d6efd;
}

.box {
  padding-bottom: 5px;
  display: flex;
}

.form-control {
  width: 95%;
  border-radius: 5px;
}

.form-row {
  margin-right: 5px;
  width: 35%;
}

.form-row * {
  margin-top: 2.5px;
}

.time {
  margin-right: 10px;
}

.flatpickr-calendar.static.open {
  width: 95%;
}

.form-signin {
  padding: 35px 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-img {
  padding: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  cursor: text;
  border-radius: 5px;
}

.checkbox {
  font-weight: normal;
}

.datepicker-dropdown {
  cursor: pointer;
}
.datepicker-dropdown {
  cursor: hand;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  @include box-sizing(border-box);
}

#message {
  height: 37.6px;
  margin-top: 5px;
  text-align: left;
}

#form-home {
  width: 75%;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
