<!DOCTYPE html>
<html lang="en" style="align-items: flex-start" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/style.css">
  <title>SpringBook</title>
</head>

<body>
  <header style="margin-bottom: 50px;">
    <img src="../static/images/favicon.ico" alt="SpringBook icon">
    <div>
      <h1 style="text-transform: capitalize; margin-bottom: -5px;"> SpringBook</span></h1>
      <p class="soft-messages">Books about to approve</p>
      <a href="/approved" rel="noopener noreferrer"><i class="fa-solid fa-house fa-lg" style="color: #86b0f0;"></i></a>
      <a href="/" rel="noopener noreferrer"><i class="fa-solid fa-bookmark fa-lg" style="color: #86b0f0;"></i></a>
      <p id="message" th:text="${message}"></p>
    </div>
  </header>
  <h2>Pending schedules</h2>
  <sub style="float: right">Sorted by the time of booking requests</sub>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">LAMI</th>
        <th scope="col">Date</th>
        <th scope="col">Hour</th>
        <th scope="col">Professor</th>
        <th scope="col">Subject</th>
        <th scope="col" style="text-align: center;" th:if="${isAdmin}">Approve?</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="booking : ${bookings}">
        <td th:text="${booking.lab.lami + ' (' + booking.lab.location + ')'}"></td>
        <td th:text="${#temporals.format(booking.timeInit, 'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(booking.timeInit, 'HH:mm')} + ' - ' + ${#temporals.format(booking.timeFinal, 'HH:mm')}"></td>
        <td th:text="${booking.professor.name}"></td>
        <td th:text="${booking.subject.name}"></td>
        <td style="display: flex; justify-content: space-evenly" th:if="${isAdmin}">
          <form th:action="@{/approve/{id}(id=${booking.id})}" method="get" onsubmit="return confirm('Have you sure to approve?');"><button type="submit" class="btn btn-primary"><i class="fa-solid fa-check fa-xs"></i></button></form>
          <form th:action="@{/delete/{id}(id=${booking.id})}" method="get" onsubmit="return confirm('Have you sure to delete?');"><button class="btn btn-primary"><i class="fa-solid fa-xmark fa-xs" style="color: #ffffff;"></i></button></form>
        </td>
      </tr>
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>
</body>

</html>